body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 33px;
    margin-bottom: 20px;
}
header a {
    color: white;
}

.button {
    background-color: #36bbce;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: 15px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    padding: 33px;
}

article {
    background-color: white;
    padding: 30px;
    width: 400px;
    margin:15px ;
}
.h {
    text-decoration: none;
    background-color: #034569;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}
.l{  
  text-decoration: none;
    background-color: #00B454;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}
.d {
        text-decoration: none;
    background-color: #228751;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but {
    text-decoration: none;
    background-color: #3C9DD0;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    display: flex;
    background-color: #3C9DD0;
    padding: 33px;
}

footer a {
    margin-right: 15px;
}

footer p {
    font-size: 24px;
}
